<section>

    <article>

        <h3>Class e Style Binding</h3>

        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>        
                <option value="alert-warning">Aviso</option>    
                <option value="alert-info">Informativo</option>
                <option value="alert-danger">Erro</option>            
            </select>
            <br><br>

            <div class="alert {{ classe.value }}" role="alert"
            [style.display]="classe.value == 'alert-danger' ? 'none' : 'block'">
            Texto colorido conforme valor do combobox
            </div>

            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto somente aparecerá em caso de erro
            </div>

            <div class="alert" role="alert"
            [class.alert-success]="classe.value == 'alert-success'">
            Sucesso</div>
            <div class="alert" role="alert"
            [class.alert-warning]="classe.value == 'alert-warning'">
            Aviso</div>
            <div class="alert" role="alert"
            [class.alert-info]="classe.value == 'alert-info'">
            Informativo</div>
            <div class="alert" role="alert"
            [class.alert-danger]="classe.value == 'alert-danger'">
            Erro</div>

        </div>

    </article>

    <!-- <article>

        <h3>Interpolation/Interpolação</h3>

        <p>String renderizada com interpolação {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 é: {{ getValor() }}</p>
        <p>Gostou do curso: {{ cursoAngular && getCurtirCurso()}}</p>

    </article> -->

    <!-- <article>

        <h3>Property Binding</h3>
        <img src="{{ urlImage }}">
        <img [src]=" urlImage ">

    </article> -->

</section>