<article>

    <h3>Event binding</h3>

    <button (click)="botaoClicado()"
    class="btn btn-primary">
    Me clique!</button>

    <br><br>
    <!-- ecustar input -->
    <input type="text"
    (keyup)="onKeyUp($event)"
    (keyup.enter)="salvarValor(campoInput)"
    (blur)="salvarValor(campoInput)"
    #campoInput />

    <p>Valor Atual: {{ valorAtual }}</p>
    <p>Valor Salvo: {{ valorSalvo }}</p>

    <br>

    <!-- <span
    (mouseover)=""
    >Passe o mouse sobre mim</span> -->

</article>